<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
      <label for="">Full Name</label>
      <input type="text" name="name" required />
      <label for="">Email</label>
      <input type="text" name="email" required />
      <label for="">Password</label>
      <input type="text" name="password" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
